<header class="cabeza">
    <div class="contenedor logo-nav-cont">
        <a href="#" class="logo">MRC</a>
        <span class="menu-icon">Ver menu</span>
        <nav class="navegador">
            <ul>
                <li><a href="/registro">REGISTRO</a></li>
                <li><a href="#"></a></li>
                <li><a href="/">SERVICIOS</a></li>
                <li><a href="/usuarios">USUARIOS</a></li>
                <li><a href="/contactos">CONTACTOS</a></li>
            </ul>

        </nav>


    </div>

</header>
    
