<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/links.ejs')%>
</head>

<body>

     <%-include('./partials/nav.ejs')%>


    <main class="principal">
        <div class="contenedor2">
            <h1> Estos son los tipos de servicios brindados en MRC </h1>

            <p>Nuestro principal servicio es la soldadura de metales.
                Puede ser metales comunes, acero inoxidable, alumino, bronce, etc.</p>

            <p>Brindamos el Servicio de arenados: este consiste en limpiar el oxido de los metales, pintura, o masilla.</p>


            <p>Vendemos Hierro angulo, Tubos 2.0 pulgada, tubos 2.5 pulgadas, hacemos armados a medida de cada cliente</p>

            <p>Buscamos soluciones a problemas que parecen no tenerlo</p>

        </div>
    </main>

    <%-include('./partials/footer.ejs')%>

    
    
</body>


</html>