<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/links.ejs')%>
</head>
<body>

        <%-include('../partials/nav.ejs')%>

        <main class="principal">
            <div class="contenedor2">
                <h1> Estos son los contactos </h1>
    
                <ul>
                    <li> Carrizo Ramon: Jefe del emprendimiento </li>
                    <li> Numero de celular: +54 9 3825 66-4858</li>
                    <li> Gmail: carrizoramonnicolas@gmail.com </li>
                    <li><a href="https://www.facebook.com/ramon.carrizo.9674">Facebook</a></li>
                </ul>
    
    
    
            </div>
        </main>
        
    <%-include('../partials/footer.ejs')%>
    
</body>
</html>